.highlight {
    border: 2px solid green !important;
}
.carta{
    margin: 10px;
}
.perdedora {
    border: 2px solid red;
}

#containerplayers{
    display: flex;
}
.jugador{
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
.banca {
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    display: flex;
}