article{
    border: 3px dashed black;
    width: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}
h1{
    background: orange;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}
div{
    padding: 5px;
}
